    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>O que é um Hackerspace?</h2>
              <br/>
                <p>Um hackerspace é um local real com o formato de um laboratório
                    comunitário que segue a ética hacker, tendo espírito agregador, convergente
                    e inspirador. Nele, pessoas com interesses em comum, normalmente em ciência,
                    tecnologia, arte digital ou eletronica podem se encontrar, socializar e
                    colaborar.</p>
                <br/>
              </div>
        </div>
    </section>
